/*@-webkit-keyframes spin {
from {
    -webkit-transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(360deg);
    }
}*/

body {
  background-color: black;
}

.spinbody {
  width: 200px;
  background-color: black;
  margin: 300px auto;
  /*-webkit-animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 1s;*/
}

.led {
  display: inline-block;
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: green;
}

.a {
  background: blue;
}
